section {
  padding: 0 0;
}

.auth {
  text-align: center;

  .auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;

    .auth-info {
      margin-bottom: 15px;

      .auth-info__text {
        font-weight: bold;
      }
    }
  }
}